.header {
    display: flex;
    align-items: center;


}

.header a {
    display: flex;
    align-items:  center;
    text-decoration: none;
}

.header .logo {
    max-height: 64px;
}

.header .tittle-group {
    padding-left: 25px;
}

.header .tittle-group {
    padding-right: 5px;
}

.header i {
    padding-right: 10px;
}